body{
    background-color: rgb(231, 229, 229);

}


*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


h1, p{
    text-align: center;
    color: rgb(110, 161, 228);
}


.container{
    max-width: 800px;
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border:3px solid rgb(214, 213, 213);
    border-radius: 5px;
}

label{
    line-height: 60px;
    margin-left: 100px;
    padding-right: 10px;
}

input{
   
    margin: 10px;
    padding: 5px;
}


.button{
    margin-left: 100px;
    padding-right: 10px;
}

img{
    width: 190px;
    height: 190px;
    margin-left: 100px;
}