body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e4e4e4;
    margin: 0;
}

.container{
    max-width: 100%;
    padding: 0;
    margin: 0;
}

header{
    background-color: white;
}

h1{
    font-size: 1.6rem;
    font-weight: normal; 
    padding: 0;
    margin: 0;
    padding-left: 6.25%;
    padding-top: 1.8%;
    padding-bottom: 1.8%;
}

main{
    overflow-y: scroll;
    height: 700px;
    padding-left: 6.25%;
    padding-right: 6.25%;
}

h2{
    font-size: 1.2rem;
    font-weight: 600; 
}

p{
    font-size: 1.2rem;
    max-width: 100%;
    hyphens: auto;
}

h3{
    font-size: 0.9rem;
}

.coment{
    padding: 1%;
    margin-top: 0.9%;
    border-radius: 20px; 
    max-width: 50%;
    margin-bottom: 1%;
}

.input-group{
    padding-left: 6.25%;
}

.form-control{
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.8%;
}

.enviar-mensagem{
    display: flex;
}

.input-group{
    flex-basis: 85%;
}

.botao{
    flex-basis: 15%;
    padding-left: 2%;
}

.btn{
    font-size: 1.3rem;
    padding: 4%;
}

textarea{
    min-height: 160%;
}

.esq{
    display: flex;
    justify-content: flex-start;
}

.dir{
    display: flex;
    justify-content: flex-end;
}






