body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #e4e4e4;
    margin: 0;
}

.container{
    max-width: 100%;
    padding: 0;
    margin: 0;
}

header{
    background-color: white;
    padding-left: 6.25%;
    padding-top: 1.8%;
    padding-bottom: 1.8%;
    font-family: 'Inter', sans-serif;
}

h1{
    font-size: 1.6rem;
    font-weight: normal; 
    padding: 0;
    margin: 0;
    margin-bottom: 0.5rem;

}

h4{
    color: #000;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 200;
    line-height: normal;

}

main{
    overflow-y: scroll;
    height: 700px;
    padding-left: 6.25%;
    padding-right: 6.25%;
    background: lightgray 0% 0% / repeat;
}

h2{
    font-size: 1.2rem;
    font-weight: 600; 
}

p{
    font-size: 1.2rem;
    max-width: 100%;
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

h3{
    font-size: 0.9rem;
}

.coment{
    padding: 20px;
    margin-top: 1.3%;
    border-radius: 20px; 
    max-width: 50%;
    margin-bottom: 1.3%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.input-group{
    padding-left: 6.25%;
}

.form-control{
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.8%;
}

.enviar-mensagem{
    display: flex;
}

.input-group{
    flex-basis: 85%;
}

.botao{
    flex-basis: 15%;
    padding-left: 2%;
}

input[type=submit]{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.btn{
    font-size: 1.3rem;
    padding: 4%;
}

textarea{
    min-height: 160%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.esq{
    display: flex;
    justify-content: flex-start;
}

.dir{
    display: flex;
    justify-content: flex-end;
}

form{
    padding-bottom: 52px;
}






