body{
    background-color: rgb(231, 229, 229);

}


*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}



.container{
    max-width: 1100px;
    padding: 50px;
    background-color: rgb(255, 255, 255);
    border:3px solid rgb(214, 213, 213);
    border-radius: 5px;
}

label{
    line-height: 60px;
    margin-left: 100px;
    padding-right: 10px;
}

input{
   
    margin: 9px;
    padding: 6px;
}


.button{
    margin-left: 100px;
    padding-right: 10px;
}


#colunas{
    display: flex;
}

img{
    max-width: 100%;
}