body{
    background-color: rgb(255, 255, 255);

}

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    line-height: 15px;
    max-width: 100%;
    padding: 11%;
    background-color: rgb(255, 255, 255);
}

label{
    margin-left: 20%;
    padding-right: 10px;
    margin-bottom: .1em;
}

.colcor{
    margin: 2%;
    margin-left: 20%;
    padding-right: 5px;
    display: block;

}

.p-2{
    margin-top: 3%;
}

.colnom{
    margin: 2%;
    margin-left: 20%;
    padding-right: 10px;
}

.button{
    margin-left: 85%;
    margin-top: 9%;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.dropdown{
    margin-left: 18%;
    margin-top: 5%;
}

#colunas{
    display: flex;
}

img{
    margin-left: 12%;
}

.cores{
    padding-top: 5%;
}

.lado{
    margin-left: 20%;
}

.nome{
    padding-top: 5%;
}



